<div class="card" style="width: 300px;">
	<div class="header cell-header card-section">
		<h4>{{dataValues.name}}</h4>
		<p>{{dataValues.category}}</p>
		<p>{{dataValues.description}}</p>
		<div class="card-divider flex-container footer">
			<p class="align-left">Price: ${{dataValues.cost}}
				<button type="button" class="button align-right" data-item-id="2">Add Item</button>
			</p>
		</div>
	</div>
</div>